<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INLThemeAlias</key>
	<dict>
		<key>mainColour</key>
		<string>#000088</string>
		<key>subColour</key>
		<string>#8888ff</string>
	</dict>
	<key>navbar</key>
	<dict>
		<key>barTintColor</key>
		<string>mainColour</string>
		<key>tintColor</key>
		<string>subColour</string>
	</dict>
	<key>tabbar</key>
	<dict>
		<key>tintColor</key>
		<string>#0000ee</string>
		<key>barTintColor</key>
		<string>#000033</string>
	</dict>
	<key>tabbar.main</key>
	<dict>
		<key>image</key>
		<string>pallette</string>
		<key>title</key>
		<string>Blue</string>
	</dict>
	<key>tabbar.black</key>
	<dict>
		<key>image</key>
		<string>pallette</string>
		<key>title</key>
		<string>Black</string>
	</dict>
	<key>main.backgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000066</string>
	</dict>
	<key>main.centerButton</key>
	<dict>
		<key>font</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>text</key>
		<string>Change theme</string>
		<key>textColor</key>
		<string>#880000</string>
	</dict>
	<key>main.topLabel</key>
	<dict>
		<key>text</key>
		<string>Green theme</string>
		<key>textColor</key>
		<string>#4444ee</string>
		<key>font</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
	<key>main.toplabel.xOffset</key>
	<dict>
		<key>constant</key>
		<string>0</string>
	</dict>
	<key>main.bottomButton</key>
	<dict>
		<key>cornerRadius</key>
		<integer>10</integer>
		<key>backgroundColor</key>
		<string>#0044aa</string>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>text</key>
		<string>Bule button</string>
	</dict>
	<key>black.backgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#111111</string>
	</dict>
	<key>table.tableview</key>
	<dict>
		<key>separatorColor</key>
		<string>#0000dd</string>
		<key>backgroundColor</key>
		<string>#111111</string>
	</dict>
	<key>table.cell</key>
	<dict>
		<key>selectedBackgroundColor</key>
		<string>subColour</string>
	</dict>
	<key>table.cellTitle</key>
	<dict>
		<key>textColor</key>
		<string>#0000dd</string>
	</dict>
</dict>
</plist>
