<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main.backgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000066</string>
	</dict>
	<key>main.centerButton</key>
	<dict>
		<key>text</key>
		<string>Change theme</string>
		<key>textColor</key>
		<string>#008800</string>
	</dict>
	<key>main.topLabel</key>
	<dict>
		<key>textColor</key>
		<string>#cc0011</string>
	</dict>
	<key>main.bottomButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>#0044aa</string>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>text</key>
		<string>Bule button</string>
	</dict>
</dict>
</plist>
