<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INLThemeAlias</key>
	<dict>
		<key>mainColour</key>
		<string>#88ff88</string>
		<key>subColour</key>
		<string>#008800</string>
	</dict>
	<key>navbar</key>
	<dict>
		<key>barTintColor</key>
		<string>mainColour</string>
		<key>tintColor</key>
		<string>subColour</string>
	</dict>
	<key>tabbar</key>
	<dict>
		<key>tintColor</key>
		<string>#00ee00</string>
		<key>barTintColor</key>
		<string>#003300</string>
	</dict>
	<key>tabbar.main</key>
	<dict>
		<key>image</key>
		<string>pallette2</string>
		<key>title</key>
		<string>Green</string>
	</dict>
	<key>tabbar.black</key>
	<dict>
		<key>image</key>
		<string>pallette</string>
		<key>title</key>
		<string>White</string>
	</dict>
	<key>main.backgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#006600</string>
	</dict>
	<key>main.centerButton</key>
	<dict>
		<key>font</key>
		<string>Papyrus</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>text</key>
		<string>Switch theme</string>
		<key>textColor</key>
		<string>#000088</string>
	</dict>
	<key>main.topLabel</key>
	<dict>
		<key>textColor</key>
		<string>#00bb11</string>
		<key>text</key>
		<string>Blue theme</string>
		<key>font</key>
		<string>Papyrus</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>main.toplabel.xOffset</key>
	<dict>
		<key>constant</key>
		<string>100</string>
	</dict>
	<key>main.bottomButton</key>
	<dict>
		<key>cornerRadius</key>
		<integer>15</integer>
		<key>backgroundColor</key>
		<string>#00aa44</string>
		<key>textColor</key>
		<string>#bbbbbb</string>
		<key>text</key>
		<string>Green button</string>
	</dict>
	<key>black.backgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#dddddd</string>
	</dict>
	<key>table.tableview</key>
	<dict>
		<key>separatorColor</key>
		<string>subColour</string>
		<key>backgroundColor</key>
		<string>#dddddd</string>
	</dict>
	<key>table.cell</key>
	<dict>
		<key>selectedBackgroundColor</key>
		<string>#88ff88</string>
	</dict>
	<key>table.cellTitle</key>
	<dict>
		<key>textColor</key>
		<string>subColour</string>
	</dict>
</dict>
</plist>
